<footer>
  <div class="container-fluid bg-nf">
    <div class="row">
      <div class="col text-center pt-4">
        <h4 class="m-0">Social Media Links</h4>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a class="sm_icon" href="#"><i class="fab fa-twitter p-4"></i></a>
        <a class="sm_icon" href="#"><i class="fab fa-instagram p-4"></i></a>
        <a class="sm_icon" href="#"><i class="fab fa-facebook-f p-4"></i></a>
        <a class="sm_icon" href="#"><i class="fab fa-github p-4"></i></a>
      </div>
    </div>
  </div>
</footer>
