  <div class="container-fluid bg-pri">
    <div class="row">
      <div class="col text-center pt-4">
        <h4 class="m-0">Social Media Links</h4>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a class="sm_icon" href="https://twitter.com/"><i class="fab fa-twitter p-4"></i></a>
        <a class="sm_icon" href="https://www.instagram.com/"><i class="fab fa-instagram p-4"></i></a>
        <a class="sm_icon" href="https://www.facebook.com/"><i class="fab fa-facebook-f p-4"></i></a>
        <a class="sm_icon" href="https://github.com/"><i class="fab fa-github p-4"></i></a>
      </div>
    </div>
  </div>
