<nav class="navbar navbar-expand-md">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars sm_icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-auto">
      <a class="nav-item nav-link" href="index.html">HOME</a>
      <a class="nav-item nav-link" href="about.html">ABOUT</a>
      <a class="nav-item nav-link" href="projects.html">PROJECTS</a>
      <a class="nav-item nav-link" href="contact.html">CONTACT</a>
    </div>
  </div>
</nav>
